<a href="https://colab.research.google.com/github/andrianatheod/IADS_python/blob/main/Exercise_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Strings
Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [1]:
String0 = 'Paris is beautiful'
String1 = "Paris is beautiful"
String2 = '''Paris
is
beautiful'''

In [2]:
print(String0 , type(String0))
print(String1, type(String1))
print(String2, type(String2))

Paris is beautiful <class 'str'>
Paris is beautiful <class 'str'>
Paris
is
beautiful <class 'str'>

In [4]:
print(String0[4])  #pring the 4th element (starts from 0)
print(String0[4:])

s
s is beautiful

In [5]:
print(String0.find('ri'))
print(String0.find('za'))

2
-1

In [6]:
String3 = 'observe the first letter in this sentence.'
print(String3.capitalize())

Observe the first letter in this sentence.

In [7]:
String0.center(70) #gives 70 spaces then print the list

'                          Paris is beautiful                          '

In [8]:
print(String0.endswith('s'))

False

In [13]:
print(String0.count('a',0))  # how many as are in the list starting from 0

2

In [14]:
print(String0.count('a',1,10)) #from 1 to 10

1

In [15]:
String0.upper() # convert to upper case

'PARIS IS BEAUTIFUL'

## Dictionaries
Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [16]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

In [17]:
# Dictionary works somewhat like a list but with an added capability of assigning it's own index style.
d0['One'] = 1
d0['OneTwo'] = 12 
print(d0)

{'One': 1, 'OneTwo': 12}

In [18]:
# That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'
print(d0['One'])

1

In [19]:
# Two lists which are related can be merged to form a dictionary.
keys = ['One', 'Two', 'Three', 'Four', 'Five']
values = [1, 2, 3, 4, 5]

In [20]:
# zip( ) function is used to combine two lists
dictionary = dict(zip(keys, values))
print(dictionary)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

## Control Flow Statements

In [21]:
x = 12
if x >10:
    print("Hello")

Hello

In [22]:
x = 12
if x > 10:
    print("hello")
else:
    print("world")

hello

In [23]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

In [24]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
    if x==10:
        print("x=10")
    else:
        print("invalid")
else:
    print("x=y")

x<y
x=10

## Loops

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [28]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print(x)

1
2
3
4
5
6
7
8
9

## While

In [29]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

## Break
As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [30]:
for i in range(100):
    print(i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

## Continue
This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [31]:
for i in range(10):
    if i>4:
        print("The end.")
        continue
    elif i<7:
        print(i)

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

### List Comprehensions
Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [32]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print(res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [33]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]