<a href="https://colab.research.google.com/github/andrianatheod/IADS_python/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [28]:

x = 3
y = 2
xy = 'Hi'

In [29]:
x

3

In [30]:
print(x+y, xy)

5 Hi

In [32]:
# Multiple variables can be assigned with the same value

x = y = z = 5

print(x,y, z)

5 5 5

### Operators

#### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [33]:
1+2
x =1
y = 2
z =x+y
print(z)

3

In [34]:
2-1

1

In [35]:
5*10

50

In [36]:
300/15

20.0

In [37]:
15%10

5

In [38]:
#Floor division is nothing but converting the result so obtained to the nearest integer.
2.8//2.0

1.0

## Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [14]:
z = 1

In [15]:
z == 1

True

In [16]:
z > 1

False

In [17]:
# round to 1 digit
#round to 2 dcp
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

In [18]:
#divide 9 by 4
#gives answer and remainder
divmod(9,4)

(2, 1)

In [19]:
pow(2,3)

8

## Print


In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [20]:
print('H')

H

In [21]:
print("Hello World")

Hello World

In [22]:
print("""I am from Essex.
I love Python.""")

I am from Essex.
I love Python.

In [23]:
string1 = "World"
print("Hello", string1)

Hello World

In [24]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [25]:
print("Hello" + string1 + string2)

HelloWorld!

In [26]:

print("Hello %s" % string1)

Hello World

In [ ]:
# &d digit is coming, no decimal
# %f flood will come, type of datat, demical point
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

Actual Number = 18
Float of the number = 18.000000

In [ ]:
# two strings are coming after hello 
print("Hello %s %s" %(string1,string2))

Hello World !