### Data Structures
In simple terms, It is the the collection or group of data in a particular structure.

#### Lists
Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [1]:
a = []

In [2]:
print(type(a))

<class 'list'>

In [3]:
x = ['apple', 'orange', 'banana']

In [8]:
x[0]

'apple'

In [5]:
## Indexing can also be done in reverse order. That is the last element can be accessed first.
# Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [9]:
x[-3]

'apple'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [10]:
y = ['carrot','potato']

In [11]:
#combine the two lists
z  = [x,y]
print(z)

[['apple', 'orange', 'banana'], ['carrot', 'potato']]

In [12]:
# print the first list of z 
z1 = z[0]
print(z1)

['apple', 'orange', 'banana']

In [14]:
# access the first element of the fisrt list
z[0][0]

'apple'

## Slicing
Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [15]:
num = [0,1,2,3,4,5,6,7,8,9]

In [19]:
#up to what point (if I want to access 9 need to writw 10)
print(num[0:4])
print(num[4:])    # acess from 4 till the end of the list
print(num[1:6])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]

In [17]:
#from start to the list by every 3 index (pick every 3rd number on the list)
num[:9:3]

[0, 3, 6]

In [ ]:
#how many eleemnts the list has
len(num)

10

In [20]:
min(num)

0

In [21]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [23]:
#combine the two lists
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [24]:
names = ['Earth','Air','Fire','Water']

In [25]:
'Fire' in names

True

In [27]:
'Smith' in names

False

## Append

In [74]:
lst = [1,1,4,8,7] #new list

In [75]:

lst.append(1)   # add a number to the list
print(lst)

[1, 1, 4, 8, 7, 1]

In [76]:
lst.count(1)   #how many times a number is a appearing in the list

3

append( ) function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [77]:
lst1 = [5,4,2,8]

In [78]:
lst.append(lst1)   # add lst1 to the previous list
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

But if nested list is not what is desired then extend( ) function can be used.

In [79]:
lst.extend(lst1)    #extend the list(put the elements to the list without the brackets) concantanate the list
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8]

In [56]:
lst.index(8)

3

insert(x,y) is used to insert a element y at a specified index value x. append( ) function made it only possible to insert at the end.

In [57]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2, 8]

insert(x,y) inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [58]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2, 8]

pop( ) function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [60]:
lst.pop()
lst.pop(2)

4

Index value can be specified to pop a ceratin element corresponding to that index value.

In [61]:
lst.pop(0)

1

In [62]:
print(lst)

[1, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4]

pop( ) is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the remove( ) function.

In [63]:
lst.remove('Python')
print(lst)

[1, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4]

In [64]:
del(lst[1])
print(lst)

[1, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4]

The entire elements present in the list can be reversed by using the reverse() function.

In [65]:
lst.reverse()
print(lst)

[4, 5, 8, 2, 4, 5, [5, 4, 2, 8], 1, 7, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation sort( ) to arrange the elements in ascending order.

## Build In Function

In [66]:
set1 = set([1,2,3])
set2 = set([2,3,4,5])

In [67]:
# union( ) function returns a set which contains all the elements of both the sets without repition.

set1.union(set2)

{1, 2, 3, 4, 5}

In [68]:
set1.add(0)
set1

{0, 1, 2, 3}

In [69]:
set1.intersection(set2) #taking teh common elements in the sets

{2, 3}

In [70]:
set1.difference(set2)

{0, 1}

In [71]:
set1.issubset(set2)

False